<div class="game-container">
    <div class="screen meet-screen" [ngClass]="shownScreen == 'meet' ? 'shown' : ''">
        <div class="meet-form">
            <form (submit)="join()" *ngIf="isLoaded">
                <label for="username">Įveskite slapyvardį</label>
                <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                <select *ngIf="isFirst" [(ngModel)]="stage" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let map of loadedMaps; index as i" value="{{i}}">{{map}}</option>
                </select>
                <button type="submit">Jungtis</button>
            </form>
            <div *ngIf="!isLoaded" class="loading">
                <div class="spinner"></div>
                Kraunama
            </div>
        </div>
    </div>
    <div class="screen game-screen" [ngClass]="shownScreen == 'game' ? 'shown' : ''">
        <div class="game-stack">
            <div class="game-window">
                <div class="overlay" *ngIf="gameState.gameIsOver || gameState.health == 0">
                    <div class="overlay-inner">
                        <div class="overlay-text">
                            Game over
                        </div>
                        <button type="button" (click)="resetGame()"> Naujas žaidimas </button>
                        <button type="button" (click)="resetRound()"> Kartoti raundą </button>
                    </div>
                </div>
                <div id="content"></div>
                <div class="header">
                    <div id="player-name">{{username}}</div>
                    <div id="cash-balance">{{gameState.money}} Pinigų</div>
                </div>
                <div class="footer" [ngClass]="{'stopped': !gameState.gameActiveState}">
                    <div class="left"></div>
                    <div class="start">
                        <button type="button" (click)="startGame()">{{gameState.gameActiveState ? "Stabdyti žaidimą" : "Pradėti Žaidimą"}}</button>
                    </div>
                    <div class="right"></div>
                </div>
            </div>
            <div class="game-info">
                <div class="left"><b>Raundas</b> {{gameState.wave + 1}} / 10</div>
                <div class="right">{{gameState.health}} <b>Gyvybių</b></div>
            </div>
        </div>
        <div class="game-sidebar">
            <div class="game-towers">
              <div class="header-strip">
                <div class="title">
                  <i class="fas fa-chess-rook"></i>
                  <span>Bokšteliai</span>
                </div>
                <div class="header-controls">
                  <div class="control">
                    <button *ngIf="gameState.wave > 0">
                      <div class="btn-content">
                        <div class="inner">
                          <i class="fas fa-undo"></i>
                          <span>Praeitas<br/>raundas</span>
                        </div>
                      </div>
                    </button>
                    <button class="btn-red" *ngIf="false">
                      <div class="btn-content">
                        <div class="inner">
                          <i class="fas fa-times"></i>
                          <span>Naujas<br/>žaidimas</span>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
                <div class="towers-grid" id="towers-store">
                    <button class="item" *ngFor="let tower of storeTowers; index as i" (click)="purchase(i + 1)" [class]="i + 1 == selectedIndex ? 'selected' : ''">
                      <div class="item-title">{{tower.name}}</div>
                      <div><span>{{tower.price}} P</span></div>
                      <div class="preview">
                        <img src="./assets/{{tower.image}}" alt="" draggable="false">
                      </div>
                    </button>
                    <button class="item" (click)="purchase(-2)" [class]="-2 == selectedIndex ? 'selected' : ''">
                      <div class="item-title">Downgrade Tower</div>
                    </button>
                </div>
            </div>
            <div class="game-chat">
                <div class="chat-message" *ngFor="let msg of chatMessages" [ngClass]="msg.username == username ? 'my-message' : ''">
                    <div class="message" *ngIf="msg.username != 'Server'">
                        <div class="author"><b>Nuo</b> {{msg.username}}</div>
                        <span>{{msg.text}}</span>
                    </div>
                    <div *ngIf="msg.username == 'Server'" class="message-new-player">{{msg.text}}</div>
                </div>
            </div>
            <div class="chat-form">
                <form (submit)="sendChat()">
                    <textarea placeholder="Nauja žinutė..." [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
                    <button type="submit" *ngIf="message.length > 0">
                      <i class="fas fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
